<h2>Help Requests</h2>

<ol>
  <% @help_requests.each do |hr| %>
    <li>
      <%= link_to hr.subject, help_request_path(hr) %>
    </li>
  <% end %>
</ol>

<a href="/help_requests/new">Submit a new Help Request</a>
